* {
    padding: 0vw;
    margin: 0vw;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(248, 248, 248);
}

.hero-top {
    padding-top: 3vw;
    text-align: center;
    border: 2vw 5vw;
}

.hero-top img {
    border-radius: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.hero-top a {
    text-decoration: none;
}

.hero-top button {
    background-color: #10d884;
    border-radius: 25px;
    color: white;
    width: 150px;
    height: 50px;
    border: 0px;
}

/*=========== HERO MID ==============*/

.hero-txtmid {
    margin: 5vw 0vw;
    height: 250px;
    background: linear-gradient(245deg, rgb(184, 20, 6), rgb(226, 167, 254), rgb(175, 244, 138), rgb(217, 7, 211), rgb(219, 212, 112)) 0% 0% / 500% 500%;
    animation: AnimationName 14s ease infinite;
    color: white;
    text-align: center;
}

.txtmid-sec1 {
    padding: 2vw 4vw 0vw 4vw;
}

.txtmid-list {
    padding: 5vw;
    font-size: 25px;
}

.txtmid-list ul {
    list-style: none;
}

.txtmid-list li {
    display: inline-block;
    padding: 0px 105px;
}

.txtmid-list a {
    color: white;
    text-decoration: none;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

/* ===================== HERO PICTURE ===================== */
.container {
    max-width: 800px;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.tumbnail {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;

}

.tumbnail img {
    display: block;
    width: 100%;
    border-radius: 5%;
    box-shadow: 5px 0px 25px 2px rgba(0, 0, 0, 0.041);
    filter: grayscale(0.75);
    transition: transform .2s ease-out;
    transform: scale(1);

}

.tumbnail img:hover {
    filter: grayscale(0);
    transition: 0.4s ease-in;
    transform: scale(1.1);
    box-sizing: border-box;
}

@media(min-width:600px) {
    .tumbnail {
        width: 33.3%;
    }
}